<ion-side-menus enable-menu-with-back-views="false">

  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <div id="menu-header">
        <img src="{{user.avatar === null ? './img/avatar.png' : user.avatar}}" />
        <h1>{{user.firstName + ' ' + user.lastName}}</h1>
        <h2 >{{user.email}}</h2>
      </div>
      <ion-list>
        <ion-item ng-if="user.token === null" menu-close ng-click="onlogin()">
          <i class="icon ion-log-in">&nbsp;&nbsp;&nbsp;</i>Login
        </ion-item>
        <ion-item ng-if="user.token !== null" menu-close href="#/app/employees">
          <i class="icon ion-android-people">&nbsp;&nbsp;&nbsp;</i>Employees
        </ion-item>
        <ion-item ng-if="user.token !== null" menu-close ng-click="onlogout()">
          <i class="icon ion-log-out">&nbsp;&nbsp;&nbsp;</i>Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
